/* Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  width: 74.5rem;
  align-items: center;
  background-color: #4caf50; /* Green background */
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.navbar-links li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  padding: 5px 10px;
  transition: background-color 0.3s ease;
}

.navbar-links li a:hover {
  background-color: #45a049; /* Darker green on hover */
  border-radius: 5px;
}
